:root {
  --primary-color: #eeeeee;
  --dark-color: #f8be3a;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
}

.products {
  margin-top: 20px;
}
.flex-row {
  display: flex;
  flex: 0 1 (25% - 20px);
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.bg-white {
  background-color: white;
}

.nav-links a {
  background-color: var(--dark-color);
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid var(--dark-color);
}

.nav-links a:hover {
  background-color: var(--primary-color);
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.card {
  background-color: white;
  height: 300px;
  width: 300px;
  border: 1px solid lightgray;
  padding-top: 30px;
}

.card img {
  width: 100px;
}

.logo img {
  width: 300px;
}

.card button {
  width: 200px;
  color: white;
  background-color: black;
  padding: 10px;
  text-transform: uppercase;
}
